        <footer>

            <section id="contact">
                <h2>Contact</h2>
                <a href="tel:+40712345678" target="_blank">suna la 0712345678</a><br><br>
                <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.097398,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu" target="_blank" >Vezi locatia</a><br><br>
                <a href="mailto:bicicletedetop@gmail.com">Scrie un mail catre bicicletedetop   </a><br><br>
                <a href="https://wa.me/+40712345678" target="_blank">Deschide WhatsApp pentru chat</a><br><br><br><br>
                <p>Pagini de contact: <span class="fa-brands fa-facebook fa-bounce"></i></span> <span class="fa-brands fa-instagram"></i></span></p>
            </section>
            <a href="#" class="inceput-pagina">Inceput pagina</a>
            <p id="banner" >Acesta este un proiect școlar!</p>
            <p><small>Copyright &copy; Biciclete de top</small></p>
            <p><time datetime="2023-06-23">Creat la data de 23-06-2023</time>.</p>
        </footer>